@page
@model BakeryApp.Pages.OrderSuccessModel
@{
}

<h1>Product Added to store</h1>




<div class="message order-success">
    <h2>Thank you for adding a new product.</h2>
    <p>It should now appear on the home page of the store!</p>
</div>